.dropdownMenu {
    width: 100vw;
    background-color: #0F172B;
    position: relative;
    padding: 1.06rem 1.5rem;
}
.links{
    text-decoration: none;
    color: white;
}
.active__link{
    text-decoration: none;
    color: #FEA116;
}

.book__table__btn{
    display: inline-flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.125rem;
    background: #FEA116;
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
} 

.ant-menu-item ant-menu-item-only-child{
    margin: 0;
    padding: 0;
}
