.wrapper{
    width: 16.375rem;
    height: 19.875rem;
    /* height: 25rem; */
    flex-shrink: 0;
    border-radius: 0.125rem;
    background: #FFF;
    box-shadow: 0px 0px 39.15px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.3rem;
    /* transition: 0.15s ease-in-out all; */
}

.wrapper:hover{
    height: 22.25rem;
}

.avatar{
    min-width: 13.7025rem;
    min-height: 13.7025rem;
    border-radius: 100%;
    background-color: aqua; 
    margin-bottom: 1.2rem;
}

.name{
    color: var(--dark-heading-text);
    text-align: center;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.305rem;
    margin-bottom: 0.16rem;
}

.designation{
    color: #666565;
    text-transform: capitalize;
    text-align: center;
    font-family: Poppins;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14188rem; /* 130.5% */  
    margin-bottom: 1rem; 
}

.media__links{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
}

.link__wrapper{
    width: 2.375rem;
    height: 2.375rem;
    flex-shrink: 0;   
    border-radius: 1.1875rem 1.1875rem 0rem 0rem;
    background: #FDAA2D;
    display: none;   
}

.wrapper:hover .link__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        width: 20.5625rem;
    }
}