* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
}

:root{
  --primary-color: rgba(254, 161, 22, 1);
  --dark-heading-text: #0F172B
}